$gris-claro: #eee;

.itemLinks-container {
  width: 100%;
  background-color: white;
  padding: 0 1rem;

  .item-link {
    display: block;
  }

  .item-link:not(:last-child) {
    border-bottom: 2px solid $gris-claro;
  }
}
